## Values you must change

# remote apis
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
TMDB_API_ACCESS_TOKEN=

# local apis
JACKETT_API_KEY=

# vpn
NORDVPN_KEY=

# download
STORAGE_PATH=/tmp

## Values you can leave alone

# databases
REDIS_HOST=localhost
REDIS_PORT=6379
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASS=root
POSTGRES_DB=miauflix

# logging
SEQ_URL=http://localhost:5341/
SEQ_API_KEY=

# remote apis
TRAKT_API_URL=https://api.trakt.tv
TMDB_API_URL=https://api.themoviedb.org/3

# local apis
JACKETT_API_URL=http://localhost:9117

# miauflix settings
MAX_CONNS=50
TORRENT_SPEED=10

#linux accessid
PUID=1000
PGID=1000

#timezone
TZ=Europe/Vilnius

#ports
PORT=1808
TORRENT_PORT=1818
VITE_API_PORT="${PORT}"

# frontend
VITE_API_BASE_PATH=api
VITE_API_HOST=http://localhost
VITE_API_URL="${VITE_API_HOST}:${PORT}/${VITE_API_BASE_PATH}"
