REDIS_HOST=localhost
REDIS_PORT=6379
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=root
POSTGRES_PASS=root
POSTGRES_DB=miauflix
TRAKT_API_URL=https://api.trakt.tv
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
TMDB_API_URL=https://api.themoviedb.org/3
TMDB_API_ACCESS_TOKEN=
JACKETT_API_KEY=
JACKETT_API_URL=http://localhost:9117
