<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Mauflix"
        version="0.0.1" viewmodes="maximized">
  <access origin="*" subdomains="true"></access>
  <tizen:application id="8nvJKZYaJb.Mauflix" package="8nvJKZYaJb" required_version="2.3"/>
  <author>Maurizio Carboni</author>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <icon src="favicon.png"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
  <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive"/>
  <name>Miauflix</name>
  <tizen:privilege name="http://tizen.org/privilege/system"/>
  <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name='http://tizen.org/privilege/tv.inputdevice'/>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
